*{ 
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(130deg,#E6E6FA,#B8E7FA)
}

nav{
    max-width: 100%;
    height: 112px;
    background-color: white;
    border: 1px solid #C6DBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6%;
}
nav a{
    font-weight: bolder;
    font-size: 28px;
    color: #0D1321;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: #0D1321;
}
nav a span{
    color: #FFA500;
}
nav button{
    color:#0D1321;
    font-weight: 500;
    font-size: 20px;
    background-image: linear-gradient(to right, #FFA500, #FFD447);    
    border-radius: 10px;
    opacity: 80%;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    text-align: center;
    padding: 17px 24px;
}
.download-button:hover{
    cursor: pointer;
    color:rgb(134, 132, 132);
}

#banner{
    max-width: 87.5%;
    margin: 100px auto;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6EDF9;
    border-radius: 16px;
}
#banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-content h1{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    line-height: 68px;
    color: #0D1321;
    margin: 32px 0px;
}
#banner-content p{
    max-width: 78%;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    opacity: 70%;
    color: #0D1321;
    text-align: center;
    margin-bottom: 32px;
}
#banner-content button{
    background-image: linear-gradient(to right, #FFA500, #FFD447);
    opacity: 80%;
    border-radius: 10px;
    padding: 17px 24px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;

}
#banner-content .banner-button:hover{
    cursor: pointer;
    color:rgb(134, 132, 132);
}

#blog{
    max-width: 87.5%;
    gap: 48px;
    margin:0px auto 100px auto;
}
#blog-heading{
    max-width: 70%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 48px auto;
    text-align: center;
}
#blog-heading h1{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
}
#blog-heading p{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #0D1321;
    opacity: 70%; 
}
#blog-content{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    margin: 0px auto;
    background-color: #E6EDF9;
    border-radius: 16px;
}
#blog-text{
    max-width: 62.285%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#blog-text h1{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: #0D132170;
}
#blog-text p{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    opacity: 70%;
    color: #0D1321;
    margin: 20px 0px 32px 0px;
}
#blog-text button{
    font-weight: 500;
    font-size: 20px;
    color: #0D1321;
    padding: 17px 24px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FFA500,#FFD447);
    opacity: 80%;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
#blog-text .blog-button:hover{
    cursor: pointer;
    color:rgb(134, 132, 132);
}
#blog-content img{
   max-width: 100%;
}
#inspiration{
    max-width: 76.38%;
    margin: 0px auto 100px auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
#inspiration-heading{
    max-width: 59.16%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}
#inspiration-heading h1{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
}
#inspiration-heading p{
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    opacity: 70%;
    color: #0D1321;
}
.inspiration-video{
    padding: 32px;
    width: 76.38%;
    height: 620px;
    margin: 0px auto;
    border: 1px solid #0D132120;
    border-radius: 16px;
}
iframe{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    border-radius: 16px;
}

#targets{
    width: 87.5%;
    margin: 0px auto 100px auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
#targets-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#targets-heading h1{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}
#targets-heading p{
    font-size: 16px;
    font-weight: normal;
    opacity: 70%;
    line-height: 26px;
    color: #0D1321;
    text-align: center;
}
#box-container{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 78px;
}
.languages{
    width: 364px;
    height: 244px;
    gap: 32px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-image: linear-gradient(#E6EDF9, #9DE5FF);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}
.languages img{
    max-width: 56px;
    height: 56px;
}
.languages h1{
    font-weight: bolder;
    font-size: 24px;
    line-height: 36px;
    color: #0D1321;
}
.languages a{
    font-weight: bold;
    font-size: 16px;
    color: #0D1321;
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    gap: 32px;
    background-color: white;
}
footer p{
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 500;
    color: #0D1321;
}
#icons{
    display: flex;
    gap: 24px;
}
